body {
	font-family: 'Arial', sans-serif;
	background-color: #f8f8f8;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.container {
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	width: 600px;
}

.form-group {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.form-group label {
	display: flex;
	flex-direction: column;
	width: 38%;
	margin-right: 30px;
}

input[type='text'],
select {
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
	font-size: 16px;
	width: 70%;
	box-sizing: border-box;
}

select {
	cursor: pointer;
}

.checkbox-container {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.checkbox-container label {
	margin-right: 10px;
}

.checkbox-container input[type='checkbox'] {
	transform: scale(1.5);
	cursor: pointer;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

th,
td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

th {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #f5f5f5; /* Hover sırasında satırların rengini değiştirir */
}

.highlight {
	background-color: #d0e6ff;
}
