* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Set a default font for the entire application */
body {
	font-family: 'Arial', sans-serif;
	background-color: #f8f8f8;
	color: #333;
}

/* Center the content */
#root {
	display: flex;
	height: 100vh;
}
